html, body{
    height: 100%;
}

body{
    border: solid ;
    min-height: 100%;
    margin:0px;
    border-width: thick;

}


/*
This portion outlays the major sections of the homepage
 */

#pageContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 25px 1fr 2fr;
    grid-template-areas: "titleDisplay titleDisplay"
                        "leftInfoPanel kpiFilterDisplay"
                        "leftInfoPanel mxDisplay";
    margin: 0px;
    height: 100%;
}

#titleDisplay{
    background-color: #454545;
    grid-area: titleDisplay;
    color: white;
    text-align: center;
    border: solid #909090;
}


/*
Below is the left information panel styling
*/
/*<editor-fold>*/

#leftInfoPanel{
    background-color: #454545;
    grid-area: leftInfoPanel;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-areas: "dynamicComponentsDisplay"
                          "bunoConfigInfo"
                          "bunoMXInfo";
    min-width: 400px;
    min-height: 500px;
    height: 100%;
    display: grid;
    border: solid #909090;
}
#dynamicComponentDisplay{
    grid-area: dynamicComponentsDisplay;
    display: grid;
    grid-template-areas: 'BUNO totalFlightHours'
    'phase rudderActuator'
    'stabActuator f404CombustionSection'
'currentlyScheduledHours currentlyScheduledHours';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #454545;
    min-height: 461px;
    font-size: 25px;
    color: #e9e9e9;
    text-align: center;

}
#currentlyScheduledHours{
    grid-area: currentlyScheduledHours;
    text-align: center;
    color: white;
    border:solid;
    border-radius: 30px;
    display: inline-block;
}

.dynamicComponent{
    color: orange;
}
#BUNO{
    text-align: center;
    color: white;
    grid-area: BUNO;
    border:solid;
    border-radius: 30px;
    display: inline-block;
}
#bunoDisplay{

    width: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
#totalFlightHours{
    grid-area: totalFlightHours;
    border:solid;
    border-radius: 30px;

}
#totalFlightHoursDisplay{

}
#phase{
    grid-area: phase;
    border:solid;
    border-radius: 30px;
}
#rudderActuator{
    grid-area: rudderActuator;
    border:solid;
    border-radius: 30px;
}
#stabActuator{
    grid-area: stabActuator;
    border:solid;
    border-radius: 30px;
}
#f404CombustionSection{
    grid-area: f404CombustionSection;
    border:solid;
    border-radius: 30px;
}

#mxDateDisplay{
    grid-area: bunoConfigInfo;
    background-color: #454545;
    min-height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'eightyFourDay oneTwelveDay oneSixEightDay'
                            'threeThreeSixDay threeSixFiveDay sevenTwoEightDay';
    font-size: 17px;
    color: #e9e9e9;
    text-align: center;
}
.calendarMxDisplay{
    border:solid;
    border-radius: 30px;
    padding-top: 3px;
}
.calendarMxDateDisplay{
    padding-top: 12px;
}

#eightyFourDay{
    grid-area: eightyFourDay;
}

#oneTwelveDay{
    grid-area: oneTwelveDay;
}
#oneSixEightDay{
    grid-area: oneSixEightDay;
}
#threeThreeSixDay{
    grid-area: threeThreeSixDay;
}
#threeSixFiveDay{
    grid-area: threeSixFiveDay;
}
#sevenTwoEightDay{
    grid-area: sevenTwoEightDay;

}




#bunoMXInfo{
    grid-area: bunoMXInfo;
    background-color: #454545;
    min-height: 200px;

}
/*</editor-fold>*/


/*
Below is the KPI & Filter display styling
 */
/*<editor-fold>*/
#kpiFilterDisplay{
    background-color: #454545;
    grid-area: kpiFilterDisplay;
    min-height: 350px;
    display: grid;
    grid-template-areas: "SQDImageKPIs"
                        "filters";
    grid-template-rows: 4fr 1fr;
    border: solid;
    border-color: #909090;
}
/*
Area for the KPIs and SQD Image
 */

#SQDImageKPIs{
    grid-area: SQDImageKPIs;
    background-color: #454545;
    display: grid;
    grid-template-areas: "SQDImage topKPIrow"
                        "SQDImage bottomKPIrow";
    grid-template-columns: 1fr 4fr;
}

#SQDImageContainer{
    grid-area: SQDImage;
}
#SQDImage{
    height: 100%;
    width: 100%;
}
/*
Top KPIs
 */
/*<editor-fold>*/
#topKPIrow{
    grid-area: topKPIrow;
    background-color: #454545;
    display: grid;
    grid-template-areas: "sqdDropdown kpiOne kpiTwo";
    grid-template-columns: 1fr 1fr 1fr;
}

#sqdDropdown{
    grid-area: sqdDropdown;
    background-color: #454545;
}

#kpiOne{
    grid-area: kpiOne;
    background-color: #454545;
}
#kpiTwo{
    grid-area: kpiTwo;
    background-color: #454545;
}

#squadronSelect{
    height: 100%;
    width: 100%;
    background-color: #454545;
}
/* </editor-fold>*/
/*
Bottom KPIs
 */
/*<editor-fold>*/
#bottomKPIrow{
    grid-area: bottomKPIrow;
    background-color: #454545;
    display: grid;
    grid-template-areas: "kpiThree kpiFour kpiFive";
}
#kpiThree{
    grid-area: kpiThree;
    background-color: #454545;
}

#kpiFour{
    grid-area: kpiFour;
    background-color: #454545;
}

#kpiFive{
    grid-area: kpiFive;
    background-color: #454545;
}

#filters{
    grid-area: filters;
    background-color: #454545;
    border: solid #909090;
    display: grid;
    grid-template-areas: 'saveTemplateButton loadProposedScheduleButton other';
    grid-template-columns: 1fr 1fr 4fr;
}

#saveTemplateButton{
    grid-area: saveTemplateButton;
}
#loadProposedScheduleButton{
    grid-area: loadProposedScheduleButton;
}
#other{
    grid-area: other;
}

/*</editor-fold>*/

/*</editor-fold>*/

#expectedFlightDateButton{

}
/*
Maintenance Display- Includes the calendar, bunos and DET display
 */
/*<editor-fold>*/
#mxDisplay{
    grid-area: mxDisplay;
    background-color: #454545;
    min-height: 400px;
    display: grid;
    grid-template-areas: "detDisplay"
                        "calendarDisplay";
    grid-template-rows: 1fr 5fr;
}

#detDisplay{
    grid-area: detDisplay;
    background-color:#454545;
    border: solid #909090;
}
/*
styling for filter group
 */
.filterCheckbox{
    width: 25px;
    height: 25px;

}




/*
Styling for the calendar including Dates,BUNOs and Calendar Elements
 */
/* <editor-fold>*/
#calendarDisplay{
    grid-area: calendarDisplay;
    background-color:#454545;
    display: grid;
    grid-template-areas: "bunoLabel bunosAndMx"
                        "bunoLabels bunosAndMx";
    grid-template-rows: 69px 4fr;
    grid-template-columns: 100px 1fr;
    border: solid;
    border-color: #909090;
}




#labelAndDate{
    grid-area: labelAndDate;
    background-color: #454545 ;
    display: flex;
    overflow-y: scroll;
}

.dateLabels{
    color: white;
    min-width: 100px;
    max-width: 100px;
    background-color: #454545;
    border: solid;
    display: inline-block;
    text-align: center;
    border-color: black;
}
.spinner{
    width: 25px;
}
#bunoLabel{
    grid-area: bunoLabel;
    background-color:#454545;
    color: white;
    min-width: 100px;
    min-height: 69px;
    max-height: 69px;
    border: solid;
    border-color: black;
    text-align: center;
    display: grid;

}
#bunoLabels{
    grid-area: bunoLabels;
    padding-top: 3px;
}
.hoursSpinner{
    width: 10px;
    height: 10px;

}
.pastDates{
    background-color: lightgrey;
    line-height: 35px;
    color: black;


}
.lastPastDates{
    background-color: lightgrey;
    line-height: 35px;
    color: black;
    border-right-color: tan;
    border-right-width: 5px;
}



.bunoCalendarElement{
    color: white;
    height: 50px;
    width: 100px;
    border: solid;
    border-color:black;
    display: inline-block;
    text-align: center;
    background-color: #454545;
    border-radius: 25px;
    font-size: 20px;
}
.mxWindow{
    color: black;
    height: 50px;
    width: 100px;
    border: solid;
    border-color:black;
    display: inline-block;
    text-align: center;
   background-color: forestgreen;
    line-height: 39px;
    /*white-space: pre-line;*/


}
.mc{
    color: white;
    height: 50px;
    max-height: 50px;
    width: 100px;
    background-color: darkgreen;
    border: solid;
    border-color:black;
    display: inline-block;
    text-align: center;
    line-height: 39px;
}

.lastPastDatesCalendarEle{
    border-right-color: tan !important;
    border-right-width: 5px;

}
.material-icons{
    font-size: 30px;
}

#bunosAndMx{
    grid-area: bunosAndMx;
    background-color: #454545;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: nowrap;

}

.maintenance{
    color: white;
    height: 50px;
    width: 100px;
    background-color: tomato;
    border: solid;
    border-color:black;
    line-height: 39px;
    display: inline-block;
    text-align: center;
}
.sortable-placeholder{
    width: 100px;
    height: 100px;
    background-color: green;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.testClass{
    color: white;
    height: 50px;
    width: 100px;
    border: solid;
    border-color:black;
    display: inline-block;
    text-align: center;
    background-color: yellow;
}
#efdHoursSpinner{
    display: none;
    width: 23px;
}

/*</editor-fold>*/

/*</editor-fold>*/
